/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fab {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.full-width {
  width: 100%;
}
